/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Merriweather+Sans&display=swap');


/* Font Changes */
h1, h2, h3 {
    font-family: 'Merriweather Sans', sans-serif;
}

p {
    font-family: 'Dosis', sans-serif;
}

/* Header */

body {
    max-width: 100%;
    margin: auto;
    padding: 2vw;
}

header {
    background-color: #25D0BC;
    color: #282A3E;
    margin-bottom: 30px;
    border: 1px solid #282A3E;
}

#header-flexbox {
    display: flex;
}

#headerLogo{
    height: auto;
    width: 15%;
    padding:2vw;
}

#headerLogo img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: large;
}

#headerTextInfo {
    width:50%;
}

.social-image {
    height: auto;
    width: 40px;
}

#social-logo-box {
    width: fit-content;
    display: flex;
}

header nav{
    display: flex;
    flex: 1;
}

#primaryNav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#head-date-holder {
    width: 80%;
    margin: auto;
    font-size: 1.5em;
    border-top: 1px solid #282A3E;
    text-align: center;
}

/* Large Navigation Menu */
#large-nav {
    margin: auto;
    width: 50%;
    display: none;
}

#large-nav a {
    padding:10px;
    text-decoration: none;
    color: #0C463F;
    font-size: 1.5rem;
}

#large-nav a:hover {
    color:rgba(0, 0, 0, 0.3)
}




/* Hamburger Menu */

#burgerBox {
    flex:1;
    text-align: right;
}


#primaryNav{
    display: none;
    background-color: #0C463F;
    color:#CDCFDF;
    text-align: left;
}

#hamburgerBtn {
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #282A3E;
}

#burgerBox.open {
    background-color: #0C463F;
}

#primaryNav.open {
    display: block;
}

#primaryNav li a{
    display: block;
    padding: .8rem 2vw;
    color:#CDCFDF;
    text-decoration: none;
    border-top: 1px solid rgba(0,0,0, 0.5)
}

#primaryNav li.active a {
    background-color:  rgba(0,0,0,0.5);
    color: #fff;
}

#primaryNav li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.close, .close img{
    display: none;
}





#hamburgerBtn span:nth-child(1) {display:block;}
#hamburgerBtn span:nth-child(2) {display:none;}

#hamburgerBtn.open span:nth-child(1) {display:none;}
#hamburgerBtn.open span:nth-child(2) {display:block; color:#CDCFDF;}



/* Main */
.content div {
    background-color: #0C463F;
    color:#CDCFDF;
    text-align: center;
}


.content h2 {
    color:#25D0BC;
    text-shadow:1px 1px 5px black;
    padding: 10px;
}

.content p {
    font-size: large;
    text-shadow:1px 1px 2px #282A3E;
    padding: 10px;
    padding-bottom: 0px;
}

/*Banner Section*/

#banner {
    background-color: #CDCFDF;
    border-radius: 10px;
    display: none;
}

#banner h2 {
    color: black;
    text-shadow: 1px 1px 2px #25D0BC;
    font-size: medium;
}

/*Hero Section*/

#hero {
    position: relative;
    padding: 0px;
    background-color: transparent;
    margin: 0px;
}

#hero img{
    width:100%;
    height: 100%;
}

#hero h2 {
    color: #282A3E;
    text-shadow: 1px 1px 3px #25D0BC;
    position: absolute;
    top: 5px;
    margin-top: 5px;
    left: 10px;
}

#hero a {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #0C463F;
    opacity: 0.95;
    padding:15px;
    border-radius: 10px;
    text-decoration: none;
    color: #CDCFDF;
    font-size: x-large;

}

#hero a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/*Event Section*/

#events {
    box-shadow: 0px 0px 10px #282A3E;
}

#events a {
    text-decoration: none;
    color:#25D0BC;
    font-size: large;
}

/*Weather Section*/

#weather {
    box-shadow: 0px 0px 10px #282A3E;
}

#weather-box-ph {
    display: flex;
    justify-content: space-around;
    height: auto;
    

}

#weather-box-ph img {
    width: 20%;
    height:auto;
}

#weather-box-ph p {
    font-size: xx-large;
    padding: 0px;
}


#weather-info-ph {
    padding-bottom: 5px;
    width: 50%;
    margin: auto;
}

#weather-info-ph hr {
    width: 100%;
}

#weather-info-ph p {
    text-align: left;
    padding: 0;
}

#weather-info-ph div {
    display: flex;
    justify-content: space-between;
}

/*News*/
#news {
    box-shadow: 0px 0px 10px #282A3E;
}

#news p {
    padding-bottom: 10px;
}

/*Spotlight */
#spotlights {
    height: fit-content;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px #282A3E;
}

#spotlights div {
    width: 90%;
    margin: 10px auto;
    box-shadow: 0px 0px 15px #282A3E;

}

#spotlights img {
    height: 150px;
    width: 150px;
}

#spotlights h3 {
    font-size: medium;
}

#spotlights hr {
    width: 70%;
}

#spotlights p {
    margin: 3px;
    padding: 1px;
}

#spotlights a {
    display: block;
    margin: 10px;
    padding: 1px;
    color:#25D0BC;
    text-decoration: none;
}

#spotlight3 {
    display: none;
}


/*Join Section */
#join {
    display: none;
    padding: 25px;
}

#join a {
    background-color: #25D0BC;
    color: #282A3E;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 1px 1px 20px black;
}

#join a:hover{
    background-color: rgba(255, 255, 255, 0.8);
}

#join p {
    font-size: larger;
}

/*Discover Page */
#lastVisit {
    text-align: center;
}

#discover-head-ban
{
    background-color: #0C463F;
    border-radius: 10px;
    color: #CDCFDF;
    padding:10px;
    text-align: center;
}

.content div {
    padding: 10px;
    margin: 10px;
}

.content div ul li {
    font-family: 'Dosis', sans-serif;
    padding: 10px;
    font-size: 16px;
    text-shadow: black 1px 1px 10px;
}

picture img {
    max-width: 500px;
    width: 90%;
    padding: 10px;
}


picture img[data-src] {
    filter: blur(0.2em);
}

picture img {
    filter: blur(0em);
    transition: filter 0.5s;
}

#pictures {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}

#picture-div {
    
    border-radius: 10px;
}

#picture-div picture img {
    max-width: 300px;
    max-height: 200px;
}

/*JOIN PAGE*/

form fieldset {
    margin:2rem 0;
    border: 1px solid #0C463F;
    background-color: #CDCFDF;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #282A3E;
    margin: 0 auto;
    font-size: larger;
    padding: 0 .8rem;
}

form label.top {
    display: block;
    padding-top: 1.75rem;
    color: #0C463F;
    font-size: 1rem;
}

form label.top input, form label.top select {
    display: block;
    font-size: 1.1rem;
    border: solid 1px #282A3E;
    border-radius: 6px;
    padding: .75rem;
    color: #CDCFDF;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(12,70,63, 0.5);
}

::placeholder {
    color: #CDCFDF;
}


form label.sbs {
    font-size: 1.2rem;
    display: block;
    padding: .75rem 0;
    color: #0C463F;
}

form label.sbs:hover {
    color: black;
}

form textarea {
    border: #CDCFDF 1px solid;
    width: 90%;
    color: #CDCFDF;
    border-radius: 6px;
    padding: 10px;
    background-color: rgba(12,70,63, 0.8);
    max-width: 40rem;
    margin: 1rem 0;
}



form input.submitBtn {
    border: #0C463F solid 1px;
    background-color: #CDCFDF;
    color: #0C463F;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin:0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form input.submitBtn:hover {
    background-color: rgba(12,70,63, 0.8);
    color: #CDCFDF;
}


form label.top input:required {
    border-left: red solid 6px;
}


form label.top input:required:valid
{
    border-left: #25D0BC solid 6px;
}

.hidden {
    display: none;
}

.thankyou {
    color: #282A3E;
    text-align: center;
    padding: 30px 0px;
}

/* DIRECTORY */
.cards
{
    color:#282A3E;
    box-shadow: 0px 0px 10px black;
    padding:20px;
    background-color: #0C463F;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    gap: 1em;
}

.cards a 
{
    display: block;
    color: #282A3E;
    font-size: large;
    text-decoration: none;
}

.cards a:hover
{
    color: rgba(0, 0, 0, 0.5);
}

.cards img
{
    border-radius: 20px;
    padding: 10px;
}

.cards section
{
    
    align-items: center;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #25D0BC;
}
/* Footer */

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #25D0BC;
    border: 1px solid #282A3E;
}

footer a{
    margin: auto;
    text-decoration: none;
    color: #282A3E;
}


footer hr {
    border: black solid 1px;
}

footer a:hover {
    color: black;
    text-decoration:solid;
}


#base-footer {
    border-top: 1px solid #282A3E;
}

#base-footer h3{
    font-size: medium;
}

#base-footer p {
    font-size: small;
}

#medium-footer {
    display: none;
}

#large-footer {
    display: none;
}
